body{
    font-family: crimson text ;
    margin: 0;
}
.imagen{
    max-height: 200px;
    height: 200px;
    width: 100%;
}
#header{
    display: flex;
    height: 100px;
    justify-content:space-between;
    border-bottom: 2px solid black;
    align-items: center ;
    padding: 8px;

}
.logo{
    display: flex;
    align-items: center;
}
.imagenLogo{
    height: 85px;
}
.navegador{
    color: black;
    width: 5%;

}
.card {
    max-width: 400px;
    background-color:black;
    border-radius: 9px;
    margin: 10px;

}

.HeaderTarjeta{
    max-height: 200px;
    height: 200px;
    width: 100%;
}
.modelo span{
    background-color: wheat;
    color: black;
    border-radius: 4px;
} 
.tarjetas{
    display: flex;
    flex-flow: wrap;
    justify-content:center;
    align-items: center;
}
.footerTarjeta{
    padding: 5%;
}
.amigos{
    display: flex;
    align-items: center;
}
.imagenAmigos{
    display: flex;
    width: 50px;
    margin: 2px;
    border-radius: 50%;
}
.textoTarjeta{
    display: flex;
    flex-direction: column;
    color: white;
}
.nombre{
    color:white;
    padding-left: 5px;
}
.usuario{
    color:rgb(207, 195, 195);
    padding-left: 5px;
}
.container{
    margin-left: 0;
    display: flex;
}

#form{
    width:400px;
    padding: 20px;
    background-color: black;
    border-radius: 4px;
    font-size: 12px;
    
    /*quiero ponerlo a la derecha*/
    color: white;
}
#form h1{
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: brown;
    border-radius: 4px;
    border: none;
}
.input{
    text-align: justify;
}
.box{
    width: 100%;
}

.contenedor{
    display: flex ;
    width: 100%;
    background-color: aqua;
}
.containerCountdown{
    justify-content: center;
    margin-top: 0;
    width: 100%;
    display: flex;
    border-radius: 4px;
    background-color: rebeccapurple;
    border: 2px solid white;
}
