
.titulo{
    display: flex;
    justify-content: center; 
    font-family: sans-serif;
    height: 100px;
    align-items: center;
    background-color: darkgrey;
    border-style: ridge;
    border-color: black;
}
.grilla{ 
    display: grid; 
    grid-template-columns: auto auto auto;
    background-color: beige;
    padding: 50px;

}
.grid-item {
    background-color: beige;
    border: 5px solid brown;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#whatsapp{
    position:fixed;
    bottom: 10px;
    right: 10px;
    max-width: 50px;
    max-height: 50px;
}
.texto{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.productos{
    font-family:'Times New Roman', Times, serif;
    color: rgb(55,49, 49);
    font-size: 30px;
}
#imagen-responsive{ 
    width: 25%;display: block; 
    border: 5px solid black;
}
span{
    border: 1px solid violet;
}
.horizontal{
    display: inline;
    margin-left: 30px;
}






